html { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  front-family:"Helvetica Neue",sans-serif;
}

.prof-box {
	width: 400px;
	height:415px;
	background: rgba(0,0,0,0.4);
	padding:40px;
	color:white;
	margin:0 auto;
	margin-top:100px;
	text-align: center;
}
.prof-pic{
	border-radius:100px;
	height:200px;
	width:200px;
}


h1{
	font-weight: 100;
    letter-spacing: 6;
    font-size: 40px;
}


p{
	font-weight: 200;
    letter-spacing: 1;
}

.social-icon{
	font-size: 40px;
}

.social-icon a {
	color: white;
}






